@media screen and (min-width: 768px) {
    .compare-bar-content {
        text-align: left
    }
    .header-logo-wrapper {
        text-align: left;
    }
    .header-mobile-nav-wrapper {
        display: none
    }
    .mobil-shopping-cart {
        display: none
    }
}
@media screen and (max-width: 767px) {
    .header-nav-wrapper {
        display: none
    }
    .mobile-header-nav li {
        display: block;
        line-height: 30px;
    }
    .header-logo-wrapper {
        display: table-cell;
        text-align: left;
        vertical-align: top;
    }
    .header-mobile-nav-wrapper {
        display: table-cell;
        float:left;
    }
    .header-cart-item {
        display: none
    }

}

.searchBox {
    position: absolute;
    bottom:47%;
    left: 78%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 45px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
   
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}
.dropbtn {
  background-color: white;
  color:#181818;
  
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color:#181818;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
  